body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 200px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit] {
    width: 100%;
}
button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

li button:hover {
    background-color: #c82333;
}

li button:nth-child(2) {
    background-color: #007bff;
}

li button:nth-child(2):hover {
    background-color: #0056b3;
}

div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#userSection {
    width: 500px;
    margin-top: 20px;
}