POSTGRES_URL="postgres://default:Tdy0t5CFXGpB@ep-purple-bread-a49212my-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:Tdy0t5CFXGpB@ep-purple-bread-a49212my-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:Tdy0t5CFXGpB@ep-purple-bread-a49212my-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:Tdy0t5CFXGpB@ep-purple-bread-a49212my.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-purple-bread-a49212my-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="Tdy0t5CFXGpB"
POSTGRES_DATABASE="verceldb"